/****************************************************************************
 * Purpose : To apply css for login component.
 * @description
 * @file : registration.scss
 * @author : Hithesh G R
 * @version : 1.0
 * @since : 10/10/2019
 ****************************************************************************/
// can also be relative import
@import '../../scss/color+image.scss';
@import '../../scss/mixin.scss';
@import '../../scss/variable.scss';

.registerButton {
    @include flexCenter();
    justify-content: $spaceBetween;
    width: 80%;
    flex-wrap: wrap;
}







// input[type=email] {
//     display: flex;
//     justify-content: flex-start;
//     width: 35vw;
//   }