/****************************************************************************
 * Purpose : To assign colors and reuse the variables.
 * @description
 * @file : color.scss
 * @author : Hithesh G R
 * @version : 1.0
 * @since : 10/10/2019
 ****************************************************************************/
$primaryColor: #BADA55;
$redColor:red;

$image:url("../Assets/images/light-blue.jpg")