/****************************************************************************
 * Purpose : To reuse css variables.
 * @description
 * @file : main.scss
 * @author : Hithesh G R
 * @version : 1.0
 * @since : 10/10/2019
 ****************************************************************************/
// can also be relative import
@import './color+image.scss';
@import './variable.scss';
@import './mixin.scss';

.container {
  @include flexCenter();
  @include fontStyle();
  height: 100vh;
  width: 100vw;
  align-items: $center;
  justify-content: $center;
  background: $image;
  background-repeat: no-repeat;
}

.containerCard {
  @include flexCenter();
  @include fontStyle();
  height: 500px;
  width: 400px;
  flex-direction: column;
  align-items: $center;
  justify-content: $center;
  background: $image;
  background-repeat: no-repeat;
}

#heading {
  @include fontStyle();
  color: $redColor;
}

// .Button {
//   @include flexCenter();
//   justify-content: $center;
//   flex-wrap: wrap;
//   // width: 25vw;
//   border-bottom: inset
// }

// h1 {
//   @include fontStyle();
//   color: $primaryColor
// }